{{- $item := .item -}}
{{- $authors := $item.Params.authors | default (slice) -}}
{{- $notes := $item.Params.author_notes | default (slice) -}}
{{- $total := len $authors -}}

<div class="pub-list-item view-citation" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  <span class="article-metadata li-cite-author">
    {{- range $idx, $author := $authors -}}
      {{- $name := $author -}}
      {{- if eq $author "me" -}}
        {{- with $item.Site.Data.authors.me.name.display -}}
          {{- $name = . -}}
        {{- end -}}
      {{- else -}}
        {{- with index $item.Site.Data.authors $author -}}
          {{- with .name.display -}}
            {{- $name = . -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}

      {{- if eq $author "me" -}}<strong>{{ $name }}</strong>{{- else -}}<span>{{ $name }}</span>{{- end -}}

      {{- if lt $idx (len $notes) -}}
        {{- $note := index $notes $idx -}}
        {{- if ne (trim $note " ") "" -}}
          {{ partial "views/author_note_icon" (dict "note" $note) }}
        {{- end -}}
      {{- end -}}

      {{ if lt $idx (sub $total 1) }}{{ if eq $idx (sub $total 2) }}, and {{ else }}, {{ end }}{{ end }}
    {{- end -}}
  </span>. <a href="{{ $item.RelPermalink }}" class="underline">{{ $item.Title }}</a>. {{ with ($item.Params.publication_short | default $item.Params.publication) }}<em>{{ . | markdownify | plainify }}</em>. {{ end }}{{ $item.Date.Format "2006" }}.

  <div class="flex flex-wrap space-x-3">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
</div>
